{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/about_us.css">
<div class="about-us-bar">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="font_viev"><img src="static/img/Picture4.jpg"><span class="">Bohdan Petryshak</span></div>
    <div class="font_viev"><img src="static/img/Picture3.jpg">Oleksandr Pryhoda</div>
    <div class="font_viev"><img src="static/img/Picture2.jpg">Ostap Kharysh</div>
    <div class="font_viev"><img src="static/img/Picture1.jpg">Serhij Dubovyk</div>
</div>



{% endblock %}