{% extends "layout.html" %}
{% block content %}

 <div class="clear-class"></div>
	<div id="main-bar">
            <div>
                <div  style="display: inline-flex;">
                    <form  method="post" action="/determinant">
                        <div >
                            <label class="label-class">Please enter your matrix:</label><br />
                            <textarea  name="matrix" class="textarea-class-determinant">{% if matrix is defined %}{{matrix}}{% endif %}</textarea><br />
                            <input type="submit" class="button-class"/>
                        </div>
                    </form>
            {% if matrix is defined %}
                    <div ><p class="text-left" style="color: #0B717F; margin-top: 10%; font-size: 200%; margin-left:50%;width: 400px; font-weight: bold;" >The determinant of the matrix: </p>
                        <div style="color: #11E1FE; font-size: 50px; padding-left: 10px; margin-left: 80%; margin-top: 15%;"><strong>{{determin}}</strong></div>
                    </div>
            {% endif %}
            	<div style="color: #0B717F; margin-top: 20%; margin-left:10%; font-size: 300%; text-align: center;">
                    <p style="width: 400px;"><strong>{{error_message}}</strong></p>
                </div>
                </div>
            </div>
        </div>
 {% endblock %}