<!doctype html>
<html>
<head>
   <title>Image manipulator</title>
</head>
<body>
    <form action="/image-manipulator" method="post" enctype="multipart/form-data">
   <input type="file" name="image" size="40">
   <input type="submit" value="Upload">
    </form>

    <-- Here will be so to say two images, You should show to our viewers. One of them is original and other
        processed with Sergiy`s algorythm. It would be much more better if you signed who is who.
        P.S. You are lox, mr Oles!=*
</body>