<!doctype html>
<html>
    <head>

        <title>Linear algebra project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/x-mathjax-config">
                MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script
                type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>

    </head>
    <body>
        <div class="container">
            <div class = "page-header">
                <h1 class="blue" style="color:#808080;"><strong>The determinant of the matrix</strong><small> in a flash</small>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6 center-block">
                    <form  method="post" action="/">
                        <div class="form-group">
                            <label style="font-size: 20px">Please enter your matrix:</label><br />
                            <textarea class="form-control" name="matrix" style="width: 200px; height: 200px; font-size: 30px;">{% if matrix is defined %}{{matrix}}{% endif %}</textarea><br />
                            <input type="submit" class="btn btn-danger"/>
                        </div>
                    </form>
            {% if matrix is defined %}
                    <div style="display: inline-flex;"><p class="text-left" style="color: #808080; margin-top: 10%; width: 290px; font-size: 20px">The determinant of the matrix: </p>
                        <div style="font-size: 50px; padding-left: 10px; margin-top: -25px;"><strong>{{determin}}</strong></div>
                    </div>
            {% endif %}
                    <p><strong>{{error_message}}</strong></p>
                </div>
            </div>
                <div style="text-align: right">
                    <address>
                        <strong>NeoSoft, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (095) 150-3132
                    </address>
                    <address>
                        <strong>Our Team:</strong><br>
                        <a href="mailto:#">dybovyk@ucu.edu.ua</a>
                        <p><a href="mailto:#">petryshak@ucu.edu.ua</a></p>
                        <a href="mailto:#">harysh@ucu.edu.ua</a>
                        <p><a href="mailto:#">pryhoda@ucu.edu.ua</a></p>
                    </address>
                </div>
        </div>
    </body>
</html>