ʼ{% extends "layout.html" %}
{% block content %}

    <div class="clear-class"></div>
		<div id="main-bar">
            <div>
                <form action="/" method="post" enctype="multipart/form-data">
                   <input class="btn btn-info" type="file" name="image" size="40">
                    <button type="submit" class="btn btn-info" value="Upload">Submit</button>
                </form>
            </div>
            <label class="label-class" style="margin-left: 30px;">Before <span style="margin-left: 350px">After</span></label><br>
            {% if image is defined %}
                <div class="image-present lol">
                    <img src="{{ url_for('static', filename='img/Zas1.jpg') }}">
                </div>
                <div class="image-present lol">
                    <img src="{{ url_for('static', filename='img/my_file.png') }}">
                </div>

            {% endif %}
                <div class="image-present lol">
                    <img src="{{ url_for('static', filename='img/Zas1.jpg') }}">
                </div>
                <div class="image-present lol">
                    <img src="{{ url_for('static', filename='img/Zas2.jpg') }}">
                </div>
        </div>

    <div class="clear-class"></div>
{% endblock %}